
git:
  quiet: true

language: rust

cache:
  cargo

rust:
  - 1.33.0

matrix:
  include:
    - os: linux
      dist: bionic
    - os: osx

install:
  #- rustup component add rustfmt
  #- (test -x $HOME/.cargo/bin/cargo-install-update || cargo install cargo-update)
  #- (test -x $HOME/.cargo/bin/bindgen || cargo install bindgen)
  #- cargo install-update -a
  - |
    if [[ $TRAVIS_OS_NAME == "linux" ]]
    then
      # https://packages.ubuntu.com/bionic/libsdl2-dev
      sudo apt-get -qq install libsdl2-dev
    else
      # https://formulae.brew.sh/formula/sdl2#default
      brew update
      brew install sdl2
    fi
  # Run these to confirm that the SDL2 installation is working
  - sdl2-config --version
  - sdl2-config --cflags
  - sdl2-config --libs
  - sdl2-config --static-libs

script:
  # dynamic
  - cargo build --features="dynamic_link"
  - cargo test --features="dynamic_link"
  - cargo clean
  # static
  - cargo build --features="static_link"
  - cargo test --features="static_link"
  - cargo clean
