[package]
name = "fermium"
description = "An opinionated crate of SDL2 bindings."
repository = "https://github.com/Lokathor/fermium"
# Targets SDL2 version 2.0.12
version = "200.12.3"
authors = ["Lokathor <zefria@gmail.com>"]
edition = "2018"
license = "Zlib"
keywords = ["SDL2"]
categories = ["external-ffi-bindings", "no-std"]

links = "SDL2"
build = "build.rs"

[features]
dynamic_link = []
static_link = ["cmake"]

# You probably don't need to use this.
use_bindgen_bin = []

default = ["dynamic_link"]

[dependencies]
chlorine = "1"

[target."cfg(windows)".build-dependencies]
# This is necessary for the static build on windows. On Mac/Linux I just assume
# that you've already installed SDL2 via your method of choice.
cmake = { version = "0.1", optional = true }

[package.metadata.docs.rs]
default-target = "x86_64-pc-windows-msvc"
[badges]
appveyor = { repository = "Lokathor/fermium" }
travis-ci = { repository = "Lokathor/fermium" }
